In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
evreg_state = pd.read_excel('10962-ev-registration-counts-by-state_6-11-21.xlsx', 
                            header=(2), usecols=['State', 'Registration Count'])

evreg_state.head()

        State  Registration Count
0     Alabama                2890
1      Alaska                 940
2     Arizona               28770
3    Arkansas                1330
4  California              425300

In [3]:
state_pop = pd.read_excel('ACSDP1Y2019.DP05-2021-12-05T182017.xlsx', 'Data')
# remove repeat instances of Total population LI by taking only top 5 rows
state_pop = state_pop.head(5)

In [4]:
state_pop = state_pop.T
state_pop.head()

                   0            1                 2          3          4
Unnamed: 0     Label  SEX AND AGE  Total population       Male     Female
Alabama     Estimate          NaN         4,903,185  2,369,611  2,533,574
Alaska      Estimate          NaN           731,545    380,433    351,112
Arizona     Estimate          NaN         7,278,717  3,620,935  3,657,782
Arkansas    Estimate          NaN         3,017,804  1,474,705  1,543,099

In [5]:
new_header = state_pop.iloc[0] # take first row to be new header
state_pop = state_pop[1:] # new data minus first row (new header)
state_pop.columns = new_header

In [6]:
state_pop.head()

Unnamed: 0     Label SEX AND AGE Total population        Male      Female
Alabama     Estimate         NaN        4,903,185   2,369,611   2,533,574
Alaska      Estimate         NaN          731,545     380,433     351,112
Arizona     Estimate         NaN        7,278,717   3,620,935   3,657,782
Arkansas    Estimate         NaN        3,017,804   1,474,705   1,543,099
California  Estimate         NaN       39,512,223  19,640,794  19,871,429

In [10]:
state_pop.drop(['Label', 'SEX AND AGE', 'Male', 'Female'], axis=1)
state_pop.head(1)

Unnamed: 0     Label SEX AND AGE Total population       Male     Female
Alabama     Estimate         NaN        4,903,185  2,369,611  2,533,574

In [22]:
state_coord = pd.read_csv('state_coordinates.txt', sep='\t', usecols=['name', 'latitude', 'longitude'])
state_coord.rename(columns={"latitade": "Latitude", "longitude": "Longitude", "name": "State"}, inplace=True)
state_coord.head()

    latitude   Longitude       State
0  63.588753 -154.493062      Alaska
1  32.318231  -86.902298     Alabama
2  35.201050  -91.831833    Arkansas
3  34.048928 -111.093731     Arizona
4  36.778261 -119.417932  California

In [ ]:
state_coord2 = pd.read_csv('uscities.txt', sep='\t', usecols=['name', 'latitude', 'longitude'])

In [19]:
state_coord = pd.read_csv('census_state_data.txt', sep='\t', names=['State', 'Square Miles', 'tota;l Sq. Km.', 'land Sq. Mi.', 
                                  'land Sq. Km.', 'water Sq. Mi.', 'water Sq. Km.', 'inland Sq. Mi.',
                                  'inland Sq. Km.', 'coastal Sq. Mi.', 'coastal Sq. Km.', 'gl Sq. Mi.', 
                                  'gl Sq. Km.', 'territorial Sq. Mi.', 'territorial Sq. Km.', 'latitude', 'longitude'])

,State,Square Miles.,tota;l Sq. Km.,land Sq. Mi.,land Sq. Km.,water Sq. Mi.,water Sq. Km.,inland Sq. Mi.,inland Sq. Km.,coastal Sq. Mi.,coastal Sq. Km.,gl Sq. Mi.,gl Sq. Km.,territorial Sq. Mi.,territorial Sq. Km.,latitude,longitude
0,United States4,"3,796,742","9,833,517","3,531,905","9,147,593","264,837","685,924","85,647","221,824","42,337","109,652","60,094","155,643","76,759","198,806",NaN,NaN
1,Alabama,"52,420","135,767","50,645","131,171","1,775","4,597","1,058","2,740",517,"1,340",—,—,199,516,32.739632,-86.843459
2,Alaska,"665,384","1,723,337","570,641","1,477,953","94,743","245,383","19,304","49,997","26,119","67,647",—,—,"49,320","127,739",63.346191,-152.837068
3,Arizona,"113,990","295,234","113,594","294,207",396,"1,026",396,"1,026",—,—,—,—,—,—,34.209964,-111.602401
4,Arkansas,"53,179","137,732","52,035","134,771","1,143","2,961","1,143","2,961",—,—,—,—,—,—,34.895526,-92.444626
5,California,"163,695","423,967","155,779","403,466","7,916","20,501","2,833","7,339",245,634,—,—,"4,837","12,528",37.148573,-119.540651
6,Colorado,"104,094","269,601","103,642","268,431",452,"1,170",452,"1,170",—,—,—,—,—,—,38.993575,-105.507774
7,Connecticut,"5,543","14,357","4,842","12,542",701,"1,816",171,443,530,"1,372",—,—,—,—,41.579784,-72.746667
8,Delaware,"2,489","6,446","1,949","5,047",540,"1,399",91,237,355,920,—,—,94,242,38.993550,-75.447374
9,District of Columbia,68,177,61,158,7,19,7,19,—,—,—,—,—,—,38.904148,-77.017094
10,Florida,"65,758","170,312","53,625","138,887","12,133","31,424","5,027","13,019","1,349","3,495",—,—,"5,757","14,911",28.457430,-82.409148
11,Georgia,"59,425","153,910","57,513","148,959","1,912","4,951","1,412","3,657",46,119,—,—,453,"1,175",32.629384,-83.423213
12,Hawaii,"10,932","28,313","6,423","16,635","4,509","11,678",42,109,9,23,—,—,"4,458","11,546",19.809767,-155.506103
13,Idaho,"83,569","216,443","82,643","214,045",926,"2,398",926,"2,398",—,—,—,—,—,—,44.302095,-114.595625
14,Illinois,"57,914","149,995","55,519","143,793","2,395","6,202",820,"2,124",—,—,"1,575","4,078",—,—,40.102875,-89.152611
15,Indiana,"36,420","94,326","35,826","92,789",593,"1,537",361,935,—,—,233,602,—,—,39.903026,-86.283950
16,Iowa,"56,273","145,746","55,857","144,669",416,"1,077",416,"1,077",—,—,—,—,—,—,42.070024,-93.493347
17,Kansas,"82,278","213,100","81,759","211,754",520,"1,346",520,"1,346",—,—,—,—,—,—,38.498546,-98.383430
18,Kentucky,"40,408","104,656","39,486","102,269",921,"2,387",921,"2,387",—,—,—,—,—,—,37.533681,-85.292984
19,Louisiana,"52,378","135,659","43,204","111,898","9,174","23,761","4,562","11,815","2,880","7,460",—,—,"1,732","4,486",30.857771,-91.803273
20,Maine,"35,380","91,633","30,843","79,883","4,537","11,750","2,314","5,992",591,"1,530",—,—,"1,633","4,228",45.390602,-68.657487
21,Maryland,"12,406","32,131","9,707","25,142","2,699","6,990",768,"1,990","1,820","4,714",—,—,111,286,38.946658,-76.674494
22,Massachusetts,"10,554","27,336","7,800","20,202","2,754","7,134",486,"1,258","1,177","3,048",—,—,"1,092","2,829",42.156520,-71.489592
23,Michigan,"96,714","250,487","56,539","146,435","40,175","104,052","2,001","5,182",—,—,"38,174","98,870",—,—,44.841084,-85.659320
24,Minnesota,"86,936","225,163","79,627","206,232","7,309","18,930","4,763","12,336",—,—,"2,546","6,594",—,—,46.316134,-94.199480
25,Mississippi,"48,432","125,438","46,923","121,531","1,509","3,907",769,"1,992",616,"1,596",—,—,123,318,32.686465,-89.656149
26,Missouri,"69,707","180,540","68,742","178,040",965,"2,501",965,"2,501",—,—,—,—,—,—,38.350750,-92.456783
27,Montana,"147,040","380,831","145,546","376,962","1,494","3,869","1,494","3,869",—,—,—,—,—,—,47.051177,-109.634817
28,Nebraska,"77,348","200,330","76,824","198,974",524,"1,356",524,"1,356",—,—,—,—,—,—,41.543810,-99.812325
29,Nevada,"110,572","286,380","109,781","284,332",791,"2,048",791,"2,048",—,—,—,—,—,—,39.331093,-116.615147
30,New Hampshire,"9,349","24,214","8,953","23,187",397,"1,027",328,849,—,—,—,—,69,178,43.670859,-71.581128
31,New Jersey,"8,723","22,591","7,354","19,047","1,368","3,544",436,"1,128",427,"1,105",—,—,506,"1,311",40.107274,-74.665201
32,New Mexico,"121,590","314,917","121,298","314,161",292,757,292,757,—,—,—,—,—,—,34.439127,-106.126151
33,New York,"54,555","141,297","47,126","122,057","7,429","19,240","1,989","5,151",975,"2,526","3,986","10,324",479,"1,240",42.913397,-75.596272
34,North Carolina,"53,819","139,391","48,618","125,920","5,201","13,471","4,052","10,495",—,—,—,—,"1,149","2,976",35.539710,-79.130864
35,North Dakota,"70,698","183,108","69,001","178,711","1,698","4,397","1,698","4,397",—,—,—,—,—,—,47.456954,-100.461930
36,Ohio,"44,826","116,098","40,861","105,829","3,965","10,269",474,"1,227",—,—,"3,491","9,042",—,—,40.414930,-82.711997
37,Oklahoma,"69,899","181,037","68,595","177,660","1,304","3,377","1,304","3,377",—,—,—,—,—,—,35.589419,-97.486868
38,Oregon,"98,379","254,799","95,988","248,608","2,391","6,191","1,068","2,766",72,186,—,—,"1,251","3,240",43.971522,-120.622627
39,Pennsylvania,"46,054","119,280","44,743","115,883","1,312","3,397",563,"1,459",—,—,748,"1,938",—,—,40.904249,-77.828062
40,Rhode Island,"1,545","4,001","1,034","2,678",511,"1,324",182,470,64,165,—,—,266,688,41.597836,-71.525289
41,South Carolina,"32,020","82,933","30,061","77,857","1,960","5,076","1,064","2,755",110,286,—,—,786,"2,036",33.874177,-80.854270
42,South Dakota,"77,116","199,729","75,811","196,350","1,305","3,379","1,305","3,379",—,—,—,—,—,—,44.446796,-100.238176
43,Tennessee,"42,144","109,153","41,235","106,798",909,"2,355",909,"2,355",—,—,—,—,—,—,35.858564,-86.349357
44,Texas,"268,596","695,662","261,232","676,587","7,365","19,075","5,616","14,546",401,"1,040",—,—,"1,347","3,489",31.434703,-99.281824
45,Utah,"84,897","219,882","82,170","212,818","2,727","7,064","2,727","7,064",—,—,—,—,—,—,39.334973,-111.656363
46,Vermont,"9,616","24,906","9,217","23,871",400,"1,035",400,"1,035",—,—,—,—,—,—,44.060547,-72.673354
47,Virginia,"42,775","110,787","39,490","102,279","3,285","8,508","1,282","3,320","1,565","4,053",—,—,438,"1,135",37.522251,-78.668194
48,Washington,"71,298","184,661","66,456","172,119","4,842","12,542","1,715","4,441","2,468","6,392",—,—,660,"1,709",47.416230,-120.599623
49,West Virginia,"24,230","62,756","24,038","62,259",192,497,192,497,—,—,—,—,—,—,38.647285,-80.618327
50,Wisconsin,"65,496","169,635","54,158","140,268","11,339","29,367","1,997","5,172",—,—,"9,342","24,195",—,—,44.628484,-89.711930
51,Wyoming,"97,813","253,335","97,093","251,470",720,"1,864",720,"1,864",—,—,—,—,—,—,42.991802,-107.541926
52,Puerto Rico,"5,325","13,791","3,424","8,868","1,901","4,924",76,198,13,34,—,—,"1,812","4,692",18.217648,-66.410799
53,Island Areas:5,"3,860","9,998",603,"1,562","3,257","8,436",40,104,22,56,—,—,"3,196","8,277",NaN,NaN
54,American Samoa,581,"1,505",76,198,505,"1,307",8,21,—,—,—,—,497,"1,286",-14.263817,-170.662090
55,Guam,571,"1,478",210,543,361,935,8,21,1,2,—,—,352,911,13.438300,144.772929
56,Northern Mariana Islands,"1,976","5,117",182,472,"1,793","4,644",6,16,5,13,—,—,"1,782","4,615",14.936784,145.601021
57,U.S. Virgin Islands,733,"1,898",134,348,599,"1,550",18,46,16,40,—,—,565,"1,464",18.326749,-64.971250